<!--The content below is only a placeholder and can be replaced.-->
<h1>Homepage</h1>

<nav>
  <ul>
    <li>
      <a routerLinkActive="active" routerLink="/login">login</a>
    </li>
    <li>
      <!--<a href="#">change password</a>-->
    </li>
    <li>
      <a routerLinkActive="active" routerLink="/publicpage">page that everyone can see</a>
    </li>
    <li>
        <a routerLinkActive="active" routerLink="/privatepage">page that only logged in can see</a>
      </li>
  </ul>
</nav>

<router-outlet></router-outlet>